body {
  background-image: url("/images/bg.jpg");
}

header, main, footer{
    padding: 0 47px 0 47px;
    width: 994px;
    margin: auto;
}



/*---------------------------------Header--------------------*/



/*--------------------------------- Fin   Header--------------------*/






/*---------------------------------Main--------------------*/







/*---------------------------------Fin Main--------------------*/









/*---------------------------------Footer--------------------*/







/*---------------------------------Fin Footer--------------------*/
